@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* font-family: 'Red Hat Display', sans-serif; */


/* ================================================================= */

/* TABLE OF CONTENTS */

/* 
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY
*/

/* ================================================================= */

/* 1. GLOBAL */
body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  background-color: #E0E8FF;

  position: relative;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================================= */

/* 2. LAYOUT */
.bg-img {
  position: absolute;
  z-index: -1;
}

.card {
  height: 567px;
  width: 327px;
  background: #FFFFFF;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  position: relative;
  margin-top: 71px;
}
.hero-img img {
  position: absolute;
  background-color: #382AE1;
  height: 160px;
  width: 327px;
  border-radius: 20px 20px 0px 0px;
}
.card-content {
  position: absolute;
  top: 192px;

  /* flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================================================================= */

/* 3. TYPOGRAPHY */



.attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); 

/* ================================================================= */

/* 4. MEDIA QUERY */