@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* font-family: 'Red Hat Display', sans-serif; */


/* ================================================================= */

/* TABLE OF CONTENTS */
/* SET FOR MOBILE FIRST VIEW @ width:375PX */

/* 
1. GLOBAL
2. LAYOUT
3. TYPOGRAPHY
4. MEDIA QUERY
*/

/* ================================================================= */

/* 1. GLOBAL */
body {
  margin: 0;
  padding: 0;
  width: 100%;

  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-size: 15px;
  background-color: #E0E8FF;

  position: relative;
}

.flexbox, .card-content, .plan-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================================= */

/* 2. LAYOUT */
.bg-img {
  position: absolute;
  z-index: -1;
}

.card {
  height: 567px;
  width: 327px;
  background: #FFFFFF;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  position: relative;
  margin-top: 71px;
}
.hero-img img {
  position: absolute;
  background-color: #382AE1;
  height: 160px;
  width: 327px;
  border-radius: 20px 20px 0px 0px;
}
.card-content {
  position: absolute;
  top: 176px;

  /* flexbox */
  flex-direction: column;

  margin-left: 25px;
  /* background-color: purple; */
}

.description {
  height: 75px;
  width: 263px;
  margin-top: 1.5px;
  margin-bottom: 24px;
}

.plan-component {
  /* flexbox */
  height: 81px;
  width: 279px;
  background: #F7F9FF;
  border-radius: 11px;
}
  .music-icon {
    height: 48px;
    width: 48px;
  }
  .plan-purchase {
    height: 40px;
    width: 81px;
    margin-left: 20px;
    margin-right: 50px;
  }
    .plan-title {
      margin: 0;
    }
    .plan-price {
      margin-top: 3px;
    }

  .btn-payment {
    height: 50px;
    width: 279px;
    border-radius: 11px;
    border: none;
    margin: 24px 0;
    background: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  }

.attribution {
  position: absolute;
  width: 100%;
  margin-top: 1.5rem;
}
/* ================================================================= */

/* 3. TYPOGRAPHY */
.title {
  font-size: 22px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
  .description {
    color: #717FA6;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }

.plan-title {
  font-size: 14px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
  .plan-price {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #717FA6;
  }
  .change-link {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
  }

.btn-payment {
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.cancel-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #717FA6;
  margin-top: 0;
}

.attribution {
  font-size: 11px; 
  text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* ================================================================= */

/* 4. MEDIA QUERY */
/* SET FOR DESKTOP VIEW @ width:1440PX */
@media screen and (min-width: 375px){
  .bg-img {
    top: -97px;
  }
  .card {
    height: 697px;
    width: 450px;
    margin-top: 104px;
  }
  .hero-img img {
    height: 220px;
    width: 450px;
  }
  .card-content {
    width: 354px;
    top: 247px;
    margin-left: 48px;
  }
  .title {
    font-size: 28px;
    line-height: 37px;
  }
  .description {
    height: 78px;
    width: 354px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 0;
  }
}